*{
    box-sizing: border-box;
}
h2,h3{
    margin: 0;
}
body{
    background-color: #9A9A9A;
    margin: 20px 0;
    font-family: sans-serif;
}
.container{
    width: 850px;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
}
#box-shadow{
    box-shadow: 2px 3px 5px 7px rgba(35, 249, 116, 0.12), 2px 4px 6px 8px rgba(39, 245, 116,0.19);
}
header{
    padding: 50px;
    overflow: hidden;
}
header > #logo{
    font-size: 2em;
    float: left;
}
main{
    padding: 50px;
    overflow: hidden;
}
section{
    width: 70%;
    float: left;
}
.shit{
    width: 1%;
}
aside{
    width: 27%;
    float: right;
    background-color: #F9A81D;
    padding: 10px;
}
aside h3{
    background-color: #F01577;
    color: white;
    padding: 5px;
}
article{
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
}
article:last-child{
    border-bottom: 0px;
}
footer{
    padding: 20px;
    border-top: 1px solid #ccc;
    text-align: center;
}
p{
    text-align: justify;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}
nav ul li a{
    color: black;
    text-decoration: none;
    text-transform: capitalize;
    font-size: large;
    transition: .4s;
}
nav ul li a:hover{
    color: #F01577;
}
span{
    color: #F01577;
}
label{
    vertical-align: middle;
}
input[type=password],
input[type=text] {
  border: 1px solid #ccc;
  border-radius: 5px;
  display: block;
  font-size: 18px;
  margin: 5px 0px 10px;
  padding: 8px;
  width: 250px;
}
input[type=email],
input[type=text] {
  border: 1px solid #ccc;
  border-radius: 5px;
  display: block;
  font-size: 18px;
  margin: 5px 0px 10px;
  padding: 8px;
  width: 250px;
}
.login-box{
    margin: 0 auto;
    justify-content: center;
}